/* Update the IDs for chat elements */
#user-input-contract,
#user-input-negotiation,
#user-input-simulate,
#user-input-tune{
    width: 70%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#send-button-contract,
#send-button-negotiation,
#send-button-simulate,
#send-button-tune{
    background-color: #5285DA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#send-button-contract:hover,
#send-button-negotiation:hover,
#send-button-simulate:hover ,
#send-button-tune:hover  {
    background-color: #0056b3;
}

/* Rest of the CSS styles remain the same */
.chat-container {
    width: 50%;
    margin: 0 auto;
    border: 3px solid #775DDA;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://cdn.cmsfly.com/64105a606115ac047190cee0/rftghj-mISngF.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    margin-left: 50px;
}

.chat-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-output {
    max-height: 300px;
    overflow-y: scroll;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 340px;
}

.chat-character img {
    max-width: 100px;
}

.character-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.chat-fade-in {
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#download-button1,
#download-button2,
#download-button3,
#download-button4,
#download-button5,
#chat-box-container,
#fine-tune-button{

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
