<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>LegalTechPro - Natural Language Processing.</title>
  <link rel="icon"
    href="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/just_logo_v2mlpr4w.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="title" content="LegalTechPro - Natural Language Processing." />
  <meta name="description"
    content="LegalTechPro, a groundbreaking tech firm specializing in AI-driven legal solutions, aims to transform sales contract negotiations. The future, they believe, lies in leveraging GPT-3.5 Turbo to intelligently and ethically negotiate contract terms, ensuring both speed and fairness." />
  <meta property="og:title" content="Autosa - AutoML website " />
  <meta property="og:description"
    content="Autosa is a website for automating machine learning tasks, enabling anyone to work with data and gain insights from it." />
  <meta name="twitter:title" content="Autosa - AutoML website " />
  <meta name="twitter:description"
    content="Autosa is a website for automating machine learning tasks, enabling anyone to work with data and gain insights from it." />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:url" content="https://autosa.dorik.io/legaltech" />
  <meta property="og:type" content="website" />
  <link rel="canonical" href="legaltech" />
  <script type="text/javascript"></script>
  <link as="font" rel="preload" href="https://fonts.cmsfly.com/css?family=Roboto+Regular:400&display=swap" />
  <link rel="stylesheet" href="https://fonts.cmsfly.com/css?family=Roboto+Regular:400&display=swap" />
  <link rel="stylesheet" href="https://cdn.dorik.com/64f073c9ddc91c0034494272/css/legaltech.css?v=1695038863496" />
  <link rel="stylesheet" href="https://assets.dorik.io/shared/aos.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

  <section class="dorik-section dorik-section-s2rdbmg1 " data-aos="fade-up" data-aos-delay="100"
    data-aos-duration="700">
    <div class="">
      <div class="container dorik-row-lwztlmw8-wrapper    ">
        <div class="dorik-row-lwztlmw8  flex  ">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-h3hrn4ve  1/1">
              <div class="dorik-wrapper dorik-image-iod90k61-wrapper "><img
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/LEGAL-TECK_hqwjbdnn.png"
                  alt="" loading="lazy" class="dorik-image-iod90k61 " /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-bljm3ot8-wrapper    " data-aos="fade-up" data-aos-delay="100"
        data-aos-duration="500">
        <div class="dorik-row-bljm3ot8  flex  ">
          <div class="col-lg-1/1 col-md-7/8 ">
            <div class="column-inner dorik-column-miof19lq  1/1">
              <div class="dorik-wrapper dorik-heading-pk31x295-wrapper ">
                <h1 class="dorik-heading dorik-heading-pk31x295 "
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/LEGAL-TECK_e0f3f2cv.png">
                  <span>NATURAL LANGUAGE&nbsp;
                  </span>
                </h1>
              </div>
              <div class="dorik-text dorik-text-xn44adjw ">
                <p>LegalTechPro, a groundbreaking tech firm specializing in AI-driven legal solutions, aims to transform
                  sales contract negotiations. The future, they believe, lies in leveraging GPT-3.5 Turbo to
                  intelligently and ethically negotiate contract terms, ensuring both speed and fairness.</p>
              </div>
              <div class="dorik-button-ec3c5w6y-wrapper  el-ib"><a class="dorik-btn dorik-button-ec3c5w6y  "
                  href="#tasks"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="right-long"
                    class="svg-inline--fa fa-right-long icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M334.5 414c8.8 3.8 19 2 26-4.6l144-136c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22l0 72L32 192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32l288 0 0 72c0 9.6 5.7 18.2 14.5 22z">
                    </path>
                  </svg>Discover Tasks</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-6mob33ms-wrapper    " data-aos="zoom-in-up" data-aos-delay="200"
        data-aos-duration="600" data-aos-once="true">
        <div class="dorik-row-6mob33ms  flex  ">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-e9qcfvtw  1/1">
              <div class="dorik-video-jvfo2i33-wrapper "><video loop="" controls="" playsinline="" autoplay=""
                  class="dorik-video-jvfo2i33 ">
                  <source
                    src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/videos/LEGAL-TECh_zb2c9lri.mp4"
                    type="video/mp4" />Your browser doesn&#x27;t support HTML5 video tag.
                </video></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-mv8bz3ky-wrapper    " data-aos="flip-down" data-aos-delay="100">
        <div class="dorik-row-mv8bz3ky  flex  ">
          <div class="col-lg-1/5 col-md-1/5 col-xs-1/3 ">
            <div class="column-inner dorik-column-mxd2yv7p  1/5">
              <div class="dorik-wrapper dorik-image-n8tyui6v-wrapper "><img
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/leg_p9yt4pvs.png"
                  alt="" loading="lazy" class="dorik-image-n8tyui6v " /></div>
            </div>
          </div>
          <div class="col-lg-1/5 col-md-1/5 col-xs-1/2 ">
            <div class="column-inner dorik-column-u2saqbpu  1/5">
              <div class="dorik-wrapper dorik-image-rcc3e56i-wrapper "><img
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/Black-and-Grey-Clean-Modern-Minimalist-Creative-Technology-Logo-1000-×-500-px-1000-×-1000-px_drijkqz8.png"
                  alt="" loading="lazy" class="dorik-image-rcc3e56i " /></div>
            </div>
          </div>
          <div class="col-lg-1/5 col-md-1/5 col-xs-1/2 ">
            <div class="column-inner dorik-column-us0k6uh0  1/5">
              <div class="dorik-wrapper dorik-image-hiv8szed-wrapper "><img
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/R_ayl30oh8.png"
                  alt="" loading="lazy" class="dorik-image-hiv8szed " /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dorik-section dorik-section-xj9nw3rv " id="tasks">
    <div class="">
      <div class="container dorik-row-rshgo24e-wrapper    " data-aos="fade-up" data-aos-delay="100">
        <div class="dorik-row-rshgo24e  flex  ">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-4lzq8n4f  1/1">
              <div class="dorik-wrapper dorik-heading-lplulgty-wrapper ">
                <h3 class="dorik-heading dorik-heading-lplulgty "><span>Assessment
                  </span></h3>
              </div>
              <div class="dorik-wrapper dorik-heading-qy0oz245-wrapper ">
                <h1 class="dorik-heading dorik-heading-qy0oz245 "><span>TASKS
                  </span></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="">
      <div class="container dorik-row-wtxly8km-wrapper    ">
        <div class="dorik-row-wtxly8km  flex  ">
          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-btnluq56  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-zkp9379d ">
                <p>First Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-1xavmooz-wrapper ">
                <h3 class="dorik-heading dorik-heading-1xavmooz "><span>01. Contract Interpretation
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-gsga9001 ">
                <p><span style="color: #D1D1D1;">Implement a system</span> where GPT-3.5 Turbo <span
                    style="color: #775DDA;">interprets</span> contractual clauses, recognizing potential pitfalls,
                  non-standard terms, or unfavorable conditions.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-bqamb9wn  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <form method="POST" action="/upload_clauses" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text1">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".txt"
                      onchange="uploadFile(this, document.getElementById('upload-text1'), document.getElementById('download-button1'), '/upload_clauses');" />
                  </label>

                </div>
              </form>

            </div>


          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-3y889xkx  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-6cukfuhi-wrapper  el-ib">
                <button class="dorik-btn dorik-button-6cukfuhi" id="download-button1" type="button"
                  onclick="downloadFile('/download/analysis','clauses_analysis.txt')">

                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download"
                    class="svg-inline--fa fa-download icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                  </svg>
                  <span id="download-text1">Download</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dorik-row-bljm3ot8  flex chat-fade-in ">

      <!-- Contract Analysis Section -->
      <div class="chat-character">
        <img src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/leg_p9yt4pvs.png"
          alt="Financial Character">
        <div class="character-name">Contract Interpreter</div>
      </div>

      <div class="chat-container">
        <div class="chat-title">Contract Clause Analysis</div>
        <div class="chat-output" id="chat-output-contract"></div>
        <input type="text" id="user-input-contract" placeholder="Enter a contract clause...">
        <button id="send-button-contract">Analyze</button>
      </div>

    </div>




    <div class="">
      <div class="container dorik-row-7zssyjii-wrapper    ">
        <div class="dorik-row-7zssyjii  flex  ">
          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-5g4otdvx  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-spm1fab4 ">
                <p>Second Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-l45atqsa-wrapper ">
                <h3 class="dorik-heading dorik-heading-l45atqsa "><span>02. Clause Suggestion &amp; Drafting
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-f8pnwtmj ">
                <p>Based on the company's standard terms and previous negotiation data, GPT-3.5 Turbo should <span
                    style="color: #775DDA;">suggest</span> clauses or modifications to ensure company interests are
                  protected while still being fair to the counterpart.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-54nwavck  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">

              <form method="POST" action="/upload_info" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text2">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".json"
                      onchange="uploadFile(this, document.getElementById('upload-text2'), document.getElementById('download-button2'), '/upload_info');" />
                  </label>

                </div>
              </form>
            </div>


          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-f5zoflui  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-6cukfuhi-wrapper  el-ib">
                <button class="dorik-btn dorik-button-6cukfuhi" id="download-button2" type="button"
                  onclick="downloadFile('/download/suggestions','clauses_suggestions.txt')">

                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download"
                    class="svg-inline--fa fa-download icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                  </svg>
                  <span id="download-text2">Download</span>
                </button>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-ian5jolz-wrapper    ">
        <div class="dorik-row-ian5jolz  flex  ">
          <div class="col-lg-1 ">
            <div class="column-inner dorik-column-fwjik43r  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-550gen0i ">
                <p>Third Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-c93b5ppj-wrapper ">
                <h3 class="dorik-heading dorik-heading-c93b5ppj "><span>03. Real-time Negotiation Assistance
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-rw9ji6cb ">
                <p>During live negotiations, the AI should provide <span style="color: #775DDA;">real-time
                    insights</span>, suggest counterpoints, highlight standard industry terms, or indicate potential
                  areas of compromise.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dorik-row-bljm3ot8  flex chat-fade-in ">

      <!-- Real-time Negotiation Section -->
      <div class="chat-character">
        <img src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/leg_p9yt4pvs.png"
          alt="Financial Character">
        <div class="character-name">Negotiation Assistant</div>
      </div>

      <div class="chat-container">
        <div class="chat-title">Real-time Negotiation Assistant</div>
        <div class="chat-output" id="chat-output-negotiation"></div>
        <input type="text" id="user-input-negotiation" placeholder="How Can I Help ?...">
        <button id="send-button-negotiation">Send</button>
      </div>
    </div>

    <div class="">
      <div class="container dorik-row-242ctuvy-wrapper    ">
        <div class="dorik-row-242ctuvy  flex  ">
          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-28ii6rkj  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-7mgufuru ">
                <p>Fourth Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-qwzq3x56-wrapper ">
                <h3 class="dorik-heading dorik-heading-qwzq3x56 "><span>04. Historical Data Analysis
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-zfrmim3c ">
                <p>Equip the AI to <span style="color: #775DDA;">analyze</span> past negotiations, learning from
                  successful compromises, stalemates, and points of contention to refine future negotiation
                  strategies.
                </p>
              </div>
            </div>
          </div>



          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-5zlzg3ck  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">

              <form method="POST" action="/upload_history" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text3">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".txt"
                      onchange="uploadFile(this, document.getElementById('upload-text3'), document.getElementById('download-button3'), '/upload_history');" />
                  </label>

                </div>
              </form>

            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-kky6eyhk  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-6cukfuhi-wrapper  el-ib">
                <button class="dorik-btn dorik-button-6cukfuhi" id="download-button3" type="button"
                  onclick="downloadFile('/download/history','historical_analysis.txt')">

                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download"
                    class="svg-inline--fa fa-download icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                  </svg>
                  <span id="download-text3">Download</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>





    <div class="">
      <div class="container dorik-row-242ctuvy-wrapper    ">
        <div class="dorik-row-242ctuvy  flex  ">

          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-me1aemde  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-nzzur2aa ">
                <p>Fifth Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-80genk5c-wrapper ">
                <h3 class="dorik-heading dorik-heading-80genk5c "><span>05. Stakeholder Communication
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-vyoshdhk ">
                <p>The AI should automatically generate concise <span style="color: #775DDA;">summaries</span>
                  post-negotiation, detailing the terms agreed upon, potential areas of concern, and next steps,
                  ensuring all stakeholders are informed.</p>
              </div>
            </div>
          </div>



          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-5zlzg3ck  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">

              <form method="POST" action="/upload_negotiation" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text4">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".txt"
                      onchange="uploadFile(this, document.getElementById('upload-text4'), document.getElementById('download-button4'), '/upload_negotiation');" />
                  </label>

                </div>
              </form>

            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-kky6eyhk  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-6cukfuhi-wrapper  el-ib">
                <button class="dorik-btn dorik-button-6cukfuhi" id="download-button4" type="button"
                  onclick="downloadFile('/download/summary','negotiation_summary.txt')">

                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download"
                    class="svg-inline--fa fa-download icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                  </svg>
                  <span id="download-text4">Download</span>
                </button>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>



    <div class="">
      <div class="container dorik-row-242ctuvy-wrapper    ">
        <div class="dorik-row-242ctuvy  flex  ">

          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-ctvz7ea1  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-v7t8451c ">
                <p>Sixth Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-4juxg49b-wrapper ">
                <h3 class="dorik-heading dorik-heading-4juxg49b "><span>06. Ethical &amp; Compliance Check
                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-lgb86t94 ">
                <p>Incorporate a module <span style="color: #775DDA;">ensuring</span> all negotiations and suggested
                  terms are compliant with industry regulations and maintain the highest ethical standards.</p>
              </div>
            </div>
          </div>


          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-5zlzg3ck  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">

              <form method="POST" action="/ethical_check" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text5">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".json"
                      onchange="uploadFile(this, document.getElementById('upload-text5'), document.getElementById('download-button5'), '/ethical_check');" />
                  </label>

                </div>
              </form>

            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-kky6eyhk  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-6cukfuhi-wrapper  el-ib">
                <button class="dorik-btn dorik-button-6cukfuhi" id="download-button5" type="button"
                  onclick="downloadFile('/download/check','ethical_check_results.txt')">

                  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="download"
                    class="svg-inline--fa fa-download icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                    </path>
                  </svg>
                  <span id="download-text5">Download</span>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>











    <div class="">
      <div class="container dorik-row-wtxly8km-wrapper    ">
        <div class="dorik-row-wtxly8km  flex  ">


          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-ytsje13c  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-lmpgiiju ">
                <p>Seventh Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-xtoxuyya-wrapper ">
                <h3 class="dorik-heading dorik-heading-xtoxuyya "><span>07. Simulated Negotiations

                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-qp02w1tl ">
                <p>Implement a training mode where sales teams can <span style="color: #775DDA;">simulate</span>
                  negotiations with the AI, enhancing their skills and preparing for real-world scenarios.</p>
              </div>
            </div>
          </div>


          <div class="col-lg-1/3 ">
            <div class="column-inner dorik-column-bqamb9wn  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <form method="POST" action="/upload_scenarios" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text6">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".json"
                      onchange="uploadFile(this, document.getElementById('upload-text6'), document.getElementById('download-button6'), '/upload_scenarios');" />
                  </label>

                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="chat-box-container">
      <div class="dorik-row-bljm3ot8  flex chat-fade-in">

        <!-- Contract Analysis Section -->
        <div class="chat-character">
          <img src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/leg_p9yt4pvs.png"
            alt="Financial Character">
          <div class="character-name">Negotiator</div>
        </div>

        <div class="chat-container">
          <div class="chat-title">Negotiation Simulator</div>
          <div class="chat-output" id="chat-output-simulate"></div>

          <form action="/simulate" method="POST" id="scenario-form">
            <label for="difficulty">Select Difficulty:</label>
            <select id="difficulty" name="difficulty" required>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
          </form>

          <input type="text" id="user-input-simulate" placeholder="Let's Negotiate...">
          <button id="send-button-simulate">Negotiate</button>
        </div>
      </div>
    </div>




    <div class="">
      <div class="container dorik-row-f3a21fwu-wrapper    ">
        <div class="dorik-row-f3a21fwu  flex  ">
          <div class="col-lg-2/3 ">
            <div class="column-inner dorik-column-qfrjc8k7  2/3" data-aos="fade-right" data-aos-duration="700"
              data-aos-delay="200" data-aos-once="true">
              <div class="dorik-text dorik-text-4uida0fi ">
                <p>Eighth Task</p>
              </div>
              <div class="dorik-wrapper dorik-heading-cmpomg3w-wrapper ">
                <h3 class="dorik-heading dorik-heading-cmpomg3w "><span>08. Continuous Learning &amp; Feedback
                    Integration

                  </span></h3>
              </div>
              <div class="dorik-text dorik-text-55dyv096 ">
                <p>As negotiations evolve and business priorities shift, ensure the AI continually <span
                    style="color: #775DDA;">learns</span>, adapting its strategies and suggestions accordingly.</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-9opwowmd  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">



              <form method="POST" action="/upload_tune_scenarios" enctype="multipart/form-data">
                <div class="dorik-button-ol92pfpn-wrapper el-ib">

                  <label class="dorik-btn dorik-button-ol92pfpn">

                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
                      class="svg-inline--fa fa-upload icon" role="img" xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512" data-testid="icon-test">
                      <path fill="currentColor"
                        d="M288 109.3V352c0 17.7-14.3 32-32 32s-32-14.3-32-32V109.3l-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352H192c0 35.3 28.7 64 64 64s64-28.7 64-64H448c35.3 0 64 28.7 64 64v32c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V416c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                      </path>
                    </svg>

                    <span id="upload-text7">Upload</span>
                    <input type="file" name="file" style="display: none;" accept=".jsonl"
                      onchange="uploadFile(this, document.getElementById('upload-text7'), document.getElementById('download-button7'), '/upload_tune_scenarios');" />
                  </label>
                </div>
              </form>


            </div>
          </div>


          <div class="col-lg-1/6 ">
            <div class="column-inner dorik-column-49kskdql  1/6" data-aos="fade-left" data-aos-delay="200"
              data-aos-duration="700" data-aos-once="true">


              <div class="dorik-button-eqmwid4v-wrapper  el-ib">

                <button class="dorik-btn dorik-button-eqmwid4v" id="fine-tune-button" type="button">
                  <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="square-caret-right"
                    class="svg-inline--fa fa-square-caret-right icon " role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512" data-testid="icon-test">
                    <path fill="currentColor"
                      d="M400 96c0-8.8-7.2-16-16-16L64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320zM384 32c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l320 0zM320 256c0 6.7-2.8 13-7.7 17.6l-112 104c-7 6.5-17.2 8.2-25.9 4.4s-14.4-12.5-14.4-22l0-208c0-9.5 5.7-18.2 14.4-22s18.9-2.1 25.9 4.4l112 104c4.9 4.5 7.7 10.9 7.7 17.6z">
                    </path>
                  </svg>

                  <span id="fine-tune-text">Fine-Tune</span>
                </button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dorik-row-bljm3ot8  flex chat-fade-in ">

      <!-- Real-time Negotiation Section -->
      <div class="chat-character">
        <img src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/leg_p9yt4pvs.png"
          alt="Financial Character">
        <div class="character-name">Sales Negotiator</div>
      </div>

      <div class="chat-container">
        <div class="chat-title">Sales Negotiation Simulator</div>
        <div class="chat-output" id="chat-output-tune"></div>
        <input type="text" id="user-input-tune" placeholder="How Can I Help ?...">
        <button id="send-button-tune">Send</button>
      </div>
    </div>


  </section>
  <section class="dorik-section symbol--2fxa25e8 dorik-section-pmojkr4a ">
    <div class="">
      <div class="container dorik-row-pjirj0z6-wrapper    ">
        <div class="dorik-row-pjirj0z6  flex  ">
          <div class="col-lg-1/4 col-md-1/2 col-xs-7/8 ">
            <div class="column-inner dorik-column-97r0uug1  1/4"><a class="dorik-wrapper dorik-image-zyoz1ynr-wrapper "
                href="index.html"><img
                  src="https://cdn.dorik.com/6231c5ff317f6e0012e1bed0/64f073c9ddc91c0034494272/images/LEGAL-TECK_dwbxcsaj.png"
                  alt="" loading="lazy" class="dorik-image-zyoz1ynr " /></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-sm0z5jt4-wrapper    ">
        <div class="dorik-row-sm0z5jt4  flex  ">
          <div class="col-lg-1/1 ">
            <div class="column-inner dorik-column-2zo7dfd2  1/1">
              <div class="dorik-line-1oznik82-wrapper ">
                <hr class="dorik-line-1oznik82 " />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="container dorik-row-vow9oa16-wrapper    ">
        <div class="dorik-row-vow9oa16  flex  ">
          <div class="col-lg-1/2 col-md-1/2 col-xs-1/1 ">
            <div class="column-inner dorik-column-6vjn0mqv  1/2">
              <div class="dorik-text dorik-text-g6bj4d6e ">
                <p>©2023 LegalTechPRO, All rights reserved.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>window.DORIK_PROJECT_ID = "64f073c9ddc91c0034494272";</script>
  <script>(function popupButton() {
      const popupLinks = document.querySelectorAll(`.popup-btn`);
      popupLinks.forEach(element => {
        let popupId = element.getAttribute('href');
        popupId = popupId.startsWith('#') ? popupId.substring(1) : popupId;
        element.addEventListener('click', () => {
          if (!popupId) return;
          let popupRow = document.getElementById(popupId);
          let closeBtn = document.querySelector(`.close-btn-${popupId}`);
          let popupOverlayEl = popupRow === null || popupRow === void 0 ? void 0 : popupRow.parentElement;
          popupOverlayEl === null || popupOverlayEl === void 0 ? void 0 : popupOverlayEl.classList.add(`row-${popupId}-overlay`);
          popupRow === null || popupRow === void 0 ? void 0 : popupRow.classList.add(`modal-${popupId}-visible`);
          closeBtn === null || closeBtn === void 0 ? void 0 : closeBtn.classList.add('btn-visible');
        });
      });
    })()</script>
  <script>(function renderPopupModal({
              exitIntentPopup = {},
              onloadPopup = {},
              EXIT_INTENT,
              ONLOAD
            }) {
              const modalVisibility = popupId => {
                let popupRow = document.getElementById(popupId);
                let closeBtn = document.querySelector(`.close-btn-${popupId}`);
                let popupOverlayEl = popupRow === null || popupRow === void 0 ? void 0 : popupRow.parentElement;
                popupOverlayEl === null || popupOverlayEl === void 0 ? void 0 : popupOverlayEl.classList.add(`row-${popupId}-overlay`);
                popupRow === null || popupRow === void 0 ? void 0 : popupRow.classList.add(`modal-${popupId}-visible`);
                closeBtn === null || closeBtn === void 0 ? void 0 : closeBtn.classList.add('btn-visible');
              };

              document.addEventListener('mouseleave', () => {
                let interativeModal = localStorage.getItem(`${EXIT_INTENT}-${exitIntentPopup.id}-${exitIntentPopup.suffixId}`);

                if (exitIntentPopup.id && !interativeModal) {
                  modalVisibility(exitIntentPopup.id);
                }
              });
              window.addEventListener('load', () => {
                let onloadModal = localStorage.getItem(`${ONLOAD}-${onloadPopup.id}-${onloadPopup.suffixId}`);

                if (onloadPopup.id && !onloadModal) {
                  modalVisibility(onloadPopup.id);
                }
              });
            })({
              EXIT_INTENT: "EXIT_INTENT",
              ONLOAD: "ONLOAD",
              exitIntentPopup: undefined,
              onloadPopup: undefined
            })</script>
  <script src="https://assets.dorik.io/shared/aos.js"></script>
  <script type="text/javascript">; (function () {
        const interval = setInterval(() => {
          if (window.AOS?.init) {
            clearInterval(interval)
            window.AOS.init({ disable: "mobile" });
          }
        }, 500);
      }())
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>